.kpiContent {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #e9ecef;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
}

.barWrapper {
  width: calc((100% - 20px) / 2);
  height: 360px;
}

.title {
  color: rgb(26, 26, 150);
  text-align: center;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
}
