.screenHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.filters {
  background-color: white;
  width: 40%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.managementContent {
  padding: 20px 20px 0;
}
