.screenWrapper {
  width: 100%;
  height: 100%;
}

.mauDauContent {
  background-color: #e9ecef;
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.chartContent {
  display: flex;
  gap: 15px;
  height: 100%;
}

.barContent {
  width: 40%;
}

.lineContent {
  width: calc(60% - 15px);
}
