.mauDauContent {
  background-color: #e9ecef;
  padding: 15px;
  width: 100%;
  height: 88%;
}

.chartContent {
  margin-bottom: 15px;
  display: flex;
  height: calc(88% - 15px);
  gap: 15px;
}

.barContent {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lineContent {
  width: calc(60% - 15px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
