.screenWrapper {
  width: 100%;
  height: 100%;
}
.pickPackContent {
  background-color: #e9ecef;
  padding: 20px;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.pickPackDataContent {
  display: flex;
  width: 100%;
  gap: 20px;
  height: 700px;
}

.pickPackPieContent {
  background-color: #fff;
  width: 50%;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  padding: 20px;
}
