.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 100px;
}

.monthSingleBox {
  width: calc((100% - 120px) / 6);
  background-color: white;
  text-align: center;
  align-self: stretch;
  border-radius: 10px;
}

.monthBoxTitle {
  font-size: 16px;
  color: #27b55b;
  font-style: italic;
}

.monthBoxContent {
  font-size: 28px;
}

.dailySingleBox {
  width: calc((100% - 120px) / 6);
  background-color: white;
  text-align: center;
  align-self: stretch;
  border-radius: 10px;
}

.dailyBoxTitle {
  font-size: 16px;
  color: #4a83b6;
  font-style: italic;
}

.dailyBoxContent {
  font-size: 28px;
}
