.tableWrapper {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 55%;
  padding: 10px;
  overflow-x: auto;
}

.table {
  height: 100%;
  width: 140%;
  display: flex;
  flex-direction: column;
}

.tableHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #414fb1;
}

.tableHead button {
  color: #414fb1;
  font-size: 18px;
  padding: 10px;
  align-self: stretch;
  flex: 1;
  text-align: center;
}

.tableHead button:hover {
  background-color: #e5e5e5;
}

.tableBody {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.tableRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.tableRow:hover {
  background-color: rgba(229, 229, 229, 0.5);
}

.tableRow span {
  flex: 1;
  align-self: stretch;
  text-align: start;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableRow span:hover {
  background-color: #e5e5e5;
}

.tableFooter {
  border-top: 1px solid #414fb1;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableFooter span {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}
