.monthFilters {
  width: 30%;
  height: 100%;
  background-color: white;
  padding: 10px 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  position: relative;
}

.chevronLeft {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.chevronRight {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.chevronLeft img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1/1;
}

.chevronRight img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1/1;
}

.singleMonth {
  padding: 0 40px;
  background-color: #e9ecef;
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.singleMonth.active {
  background-color: black;
  color: white;
}
